---
# Building block relevant stuff
# -----------------------------
## Specifies the name of the building block
bb_name: bb-buildingblock
## Specifies the destination of the docker image artifact
bb_destination: elbb/bb-buildingblock
## Specifies insecure docker registries, format "host:port" or "ip:port"
bb_destination_insecure_registries: []

# Versioning stuff
# ----------------
## Specifies the version used for bb-gitversion
bb_gitversion_version: 0.6.0

# Git relevant stuff
# ------------------
## Specify the git repository to work with
git_source: https://github.com/elbb/bb-buildingblock.git
## Specify the git branch to work with
git_branch: master
## Specify the release git branch
git_release_branch: master
## This enables/disables ssl verification of the git resource
git_skip_ssl_verification: false

# S3 relevant stuff
# -----------------
## Specify the S3 endpoint URI
s3_endpoint: http://minio:9000
## This enables/disables the ssl verification for the S3 endpoint
s3_skip_ssl_verification: false
